*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width: 50%;
  
  border: 1px solid chartreuse;
  border-radius: 5px;
  margin:40px auto;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.label {
  color: #fff;
  font-size: 16px;
  margin-right: 12px;
}
input{
  height: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}
h2{
  margin-top: 24px;
  font-size: 24px;
  color: #fff;
}